<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-wdb-contact" >
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.first_name" />
		</td>
		<td>
		{person.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.last_name" />
		</td>
		<td>
		{person.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.title" />
		</td>
		<td>
		{person.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.user_name" />
		</td>
		<td>
		{person.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.street" />
		</td>
		<td>
		{person.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.house_number" />
		</td>
		<td>
		{person.houseNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.zip" />
		</td>
		<td>
		{person.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.city" />
		</td>
		<td>
		{person.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.country" />
		</td>
		<td>
		{person.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.email" />
		</td>
		<td>
		{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.www" />
		</td>
		<td>
		{person.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.telephone" />
		</td>
		<td>
		{person.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.mobile" />
		</td>
		<td>
		{person.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.skype" />
		</td>
		<td>
		{person.skype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.slack" />
		</td>
		<td>
		{person.slack}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.whats_app" />
		</td>
		<td>
		{person.whatsApp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.additional_text" />
		</td>
		<td>
		{person.additionalText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.kununu" />
		</td>
		<td>
		{person.kununu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.linkedin" />
		</td>
		<td>
		{person.linkedin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.xing" />
		</td>
		<td>
		{person.xing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.twitter" />
		</td>
		<td>
		{person.twitter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.facebook" />
		</td>
		<td>
		{person.facebook}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.instagram" />
		</td>
		<td>
		{person.instagram}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.github" />
		</td>
		<td>
		{person.github}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.gitlab" />
		</td>
		<td>
		{person.gitlab}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_person.bitbucket" />
		</td>
		<td>
		{person.bitbucket}
		</td>
	</tr>
</table>
</html>
