<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-wdb-contact" >
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.title" />
		</td>
		<td>
		{organization.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.division" />
		</td>
		<td>
		{organization.division}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.street" />
		</td>
		<td>
		{organization.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.house_number" />
		</td>
		<td>
		{organization.houseNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.city" />
		</td>
		<td>
		{organization.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.zip" />
		</td>
		<td>
		{organization.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.country" />
		</td>
		<td>
		{organization.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.email" />
		</td>
		<td>
		{organization.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.www" />
		</td>
		<td>
		{organization.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.telephone" />
		</td>
		<td>
		{organization.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.mobile" />
		</td>
		<td>
		{organization.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.skype" />
		</td>
		<td>
		{organization.skype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.slack" />
		</td>
		<td>
		{organization.slack}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.whats_app" />
		</td>
		<td>
		{organization.whatsApp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.additional_text" />
		</td>
		<td>
		{organization.additionalText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.kununu" />
		</td>
		<td>
		{organization.kununu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.linkedin" />
		</td>
		<td>
		{organization.linkedin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.xing" />
		</td>
		<td>
		{organization.xing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.twitter" />
		</td>
		<td>
		{organization.twitter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.facebook" />
		</td>
		<td>
		{organization.facebook}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.instagram" />
		</td>
		<td>
		{organization.instagram}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.github" />
		</td>
		<td>
		{organization.github}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.gitlab" />
		</td>
		<td>
		{organization.gitlab}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wdbcontact_domain_model_organization.bitbucket" />
		</td>
		<td>
		{organization.bitbucket}
		</td>
	</tr>
</table>
</html>
